@model UniversityApplication.Models.CourseTeacher

@{
    ViewBag.Title = "CourseTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CourseTeacher</h2>


@using (Html.BeginForm("AssignCourse", "CourseTeacher", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CourseTeacher</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Department, @ViewBag.Departments as SelectList, "Select Department", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Teacher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Teacher, @ViewBag.TeachersName as SelectList, "Select Teacher", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditToTake, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditToTake, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditToTake, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RemainingCredit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemainingCredit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RemainingCredit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CourseCode, new SelectList(ViewBag.CourseCode, "Value", "Text"), "Select Course", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseCredit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseCredit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseCredit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2-Save col-md-10">
                <input type="submit" value="Assign" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script language="javascript">
        $(document).ready(function () {
            $("#Department").change(function () {
                // this will call when Department Dropdown select change
                var departmentName = $("#Department").val();
                if (departmentName!=null) {


                    var ddTeacher = $("#Teacher");
                    ddTeacher.empty(); // this line is for clear all items from Teacher dropdown
                    ddTeacher.append($("<option></option").val("").html("Select Teacher"));

                    // Here I will call Controller Action via Jquery to load Teacher for selected Country
                    $.ajax({
                        url: "@Url.Action("GetTeachers", "CourseTeacher")",
                        type: "GET",
                        data: { departmentName: departmentName },
                        dataType: "json",
                        success: function (data) {
                            $.each(data, function (i, val) {
                                ddTeacher.append(
                                        $("<option></option>").val(val.Name).html(val.Name)
                                    );
                            });
                        },
                        error: function () {
                            alert("Error!");
                        }
                    });

                    var ddCourseCode = $("#CourseCode");
                    ddCourseCode.empty(); // this line is for clear all items from CourseCode dropdown
                    ddCourseCode.append($("<option></option").val("").html("Select Course"));

                    // Here I will call Controller Action via Jquery to load CourseCode for selected Department
                    $.ajax({
                        url: "@Url.Action("GetCourseCode", "CourseTeacher")",
                        type: "GET",
                    data: { departmentName: departmentName },
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, val) {
                            ddCourseCode.append(
                                    $("<option></option>").val(val.Code).html(val.Code)
                                );
                        });
                    },
                    error: function () {
                        alert("Error!");
                    }
                });

                }
            });
        });
</script>
}
